@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
  margin: 0;
  padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
 background-image: url('background.jpeg');
 background-size: cover;
 text-shadow: 12px 1px px #000;
 backdrop-filter: blur(4px);
 display: flex;
 justify-content: center;
 align-items: center;
}

html, body {
    height: 100%;
    overflow: hidden;
  }

.destaque{
    color: rgb(44, 213, 114);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px #12330f;
}

.destaque:hover{

    
    color: #0d7ef8;
    transition: color 1.5s ease;
    text-shadow: 2px 2px 20px #4576b5;
}


img {
    border: 8px solid rgb(44, 213, 114);
    border-radius: 92px;
    filter: grayscale(60%);
    margin-left: 50px;
    border-style:hidden;
    box-shadow: 3px 3px 120px rgb(68, 255, 5);
    
    
  }
  img:hover {
    filter: none;
    transition: box-shadow 1.5s ease;
    box-shadow: 15px 15px 1000px #569fff;
}
  



.apresentacao{
    align-items: center;
    display: flex; 
    justify-content: space-between;
    margin: 10% 12%;
    
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 615px;
}

.apresentacao__conteudo__titulo{
    font-family: 'Krona one' , sans-serif;
    font-size: 30px;
    text-align: left;
}

.apresentacao__conteudo__texto{ 

    font-size: 18px;
    font-family:'Krona one' , sans-serif;
}

.apresentacao__links{
    
    display: flex;
    
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        
    
}

.apresentacao__links__link{

   background-color: rgb(44, 213, 114);
   width: 300px;
   text-align: center;
   font-size: 35px;
   border-radius: 195px;
   margin-right: 20px;
   padding: 20.5px;
   text-decoration: none;
   color: black;
   font-family:'Montserrat' , sans-serif; 
  font-weight: 600;
  

}

.apresentacao__links__link:hover {
    background-color: #0B7BEA;
    color: white;
    transition: background-color 1.5s ease;
    box-shadow: 3px 3px 50px #0B7BEA;
  }